<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>Winekipedia</title>
	<link href="{{url_for('static', filename='bootstrap.css')}}" rel="stylesheet" type="text/css" /> 
</head>
<body>
	<div class='well'>
	  	<h1>Liste des restaurants disponibles</h1>
	  	<ul class=entries>
	  		<li><a href="/getResults/1">A Casaluna</a></li>
	  		<li><a href="/getResults/100">Casa Candido</a></li>
	  	{% for restaurant in restaurants %}
		  	<li><a href="/getResults/{{restaurant['id']}}">{{restaurant['name']}}</a>
		{% else %}
			<li><em>Incroyable. Nous n'avons pas trouvé de restaurants</em>
		{% endfor %}
	</div>
	<div class='well'>
		<a href="/{{next_page}}">Page suivante</a>
	</div>
	<script src="{{ url_for('static', filename='jquery.js') }}"</script>
	<script src="{{ url_for('static', filename='bootstrap-typeahead.js') }}"></script>
</body>
</html>